body {
	font-family: "Roboto", sans-serif;
}

header {
	background-color: #eebb44; 
	margin-top: 0;
	margin-bottom: 40px;
	width: 100%;
}

.nav h1 {
	padding-left: 40px;
	padding-top: 20px;
	margin-top: 0;
}

.nav p {
	padding-left: 40px;
	padding-bottom: 20px;
	margin-bottom: 0;
}

.card {
	border: 1px solid #DDDDDD;
	margin-bottom: 20px;
}

.card-image {
	width: 100%;
	height: auto;
}

.card h4 {
	padding-left: 20px;
}

.card p {
	padding-left: 20px;
}
